.mod_article { 
    min-height: var(--article_min_height, none); 
    &.has_img .article_bg { 
        & > .inside {
            max-width: var(--article_inside_width);
            margin: auto;
        }
    }
}
.mod_article > * { 
    width: var(--article_inside_width); 
    max-width: 100%; 
    margin-left: auto; 
    margin-right: auto; 
}
